<h6>Add/Edit Project</h6>
<div class="card">    
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Project Name</label>
          <input type="text" class="form-control" formControlName="projectName" #projectName [(ngModel)] = "editProject.ProjectName" />
        </div>
        <div *ngIf="angForm.controls['projectName'].invalid && (angForm.controls['projectName'].dirty || angForm.controls['projectName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['projectName'].errors.required">
            Project Name is required.
          </div>
        </div>        
     <input type="checkbox" formControlName="chkDate"  name="chkDate" > Set Start and End Date
      <br><br>

      <div class="form-group">
          <label for="startDate" class="col-md-4">Start Date </label>
          <input id="startDate" style="width:180px" name="startDate" class="form-control" #startDate  [(ngModel)] = "editProject.StartDate"
          placeholder="datepicker" type="date" 
          [attr.disabled]="angForm.controls['chkDate'].value == false ? '' : null" formControlName="startDate"/>

          <label for="endDate" class="col-md-4">End Date </label>
          <input id="endDate" style="width:180px" name="endDate" class="form-control"  formControlName="endDate" #endDate  [(ngModel)] = "editProject.EndDate"
          placeholder="datepicker"   type="date"  [attr.disabled]="angForm.controls['chkDate'].value == false ? '' : null" />
        </div>
          
          <div class="form-group">
              <label class="col-md-4">Priority </label>
              <input type="range" min="1" max="100" class="form-control" formControlName="priority" #priority  [(ngModel)] = "editProject.Priority"/>
            </div>
            <div *ngIf="angForm.controls['priority'].invalid && (angForm.controls['priority'].dirty || angForm.controls['priority'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['priority'].errors.required">
                
              </div>
            </div>

          <div class="form-group">              
            <select formControlName="ddlUserList"  class="form-control"  id="userList"
             name="userList"   #manager >
                <option [ngValue]="null" disabled>Select Manager</option>
                <option *ngFor="let item of usersList" [value]="item.UserId">
                  {{item.FirstName}}  {{item.LastName}}  </option>               
              </select>           

              <div *ngIf="ddlUserList?.invalid  && (angForm.controls['ddlUserList'].dirty || 
               angForm.controls['ddlUserList'].touched)" class="alert alert-danger">
                  <div *ngIf="angForm.controls['ddlUserList'].errors.required">
                      Manager is required.
                  </div>
                </div> 

            </div>

        <div class="form-group">         

             <button (click)="addProject(projectName.value,priority.value,startDate.value,endDate.value,manager.value)"                
                class="btn btn-primary" [disabled]="!angForm.valid">
                Add 
             </button> &nbsp;&nbsp;
             <button   class="btn btn-primary" (click)="angForm.reset()" >  Reset  </button>
            </div>

      </form>
      <!-- {{angForm.value | json}}
      {{angForm.controls['chkDate'].value}} -->
    </div>
  </div>
<br>
  <div class="form-group col-sm-4">
      <h6>View Projects</h6>
    <div class="input-group">
        <div class="input-group-addon">
           <i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control input-normal" name="searchString"
         placeholder="Project to search..." [(ngModel)]="searchString">
        
    </div>
<br>
    <!-- <div style="width:100%" >
      Sort Task By :
      <input type="button" value="Start Date" ><input type="button" value="End Date" > <input type="button" value="Priority" > <input type="button" value="Completed" >
    </div> -->
</div>

<table class="table table-striped">
    <thead class="table ">
    <tr>
        <th>Project ID</th>        
        <th>Project Name</th>
        <th>Priority</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th colspan="4">Actions</th>
    </tr>
    </thead>
  
    <tbody>            
        <tr *ngFor="let item of projects | filter : 'ProjectName' : searchString; let i = index">
            <td>{{item.ProjectId}}</td>            
             <td>{{item.ProjectName}}</td>
            <td>{{item.Priority}}</td>
            <td>{{item.StartDate|date:'dd/MM/yyyy'}}</td>
            <td>{{item.EndDate|date:'dd/MM/yyyy'}}</td>
            <td>
             

               <a [routerLink]="" (click)="EditProject(item.ProjectId)"
                *ngIf="(item.Status)" class="btn btn-primary">Edit</a>

              <a [routerLink]=""
               *ngIf="!(item.Status)"
                class="disabled" style=" color:gray; cursor: not-allowed;" >Suspended</a>             
              
            </td>
            <td>
              <button  class="btn btn-danger" *ngIf="(item.Status)" (click)="suspendProject(item.ProjectId)">Suspend</button>
              
            </td>
        </tr>
    </tbody>
  </table>