<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>

          <div class="form-group">              
              <select class="form-control" formControlName="ddlProject"   id="projectList" name="projectList"  #project>
                <option [value]="null">Select Project</option>
                <option *ngFor="let item of projectList" [value]="item.ProjectId">{{item.ProjectName}}   </option>
              </select>         
              
            </div> 

            <div *ngIf="ddlProject?.invalid  && (angForm.controls['ddlProject'].dirty || 
            angForm.controls['ddlProject'].touched)" class="alert alert-danger">
               <div *ngIf="angForm.controls['ddlProject'].errors.required">
                   Please select Project.
               </div>
             </div> 


        <div class="form-group">
          <label class="col-md-4">Task Name</label>
          <input type="text" class="form-control" formControlName="taskName" #taskName />
        </div>
        <div *ngIf="angForm.controls['taskName'].invalid && (angForm.controls['taskName'].dirty || angForm.controls['taskName'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['taskName'].errors.required">
            Task Name is required.
          </div>
        </div>      
        <input type="checkbox" formControlName="chkParentTask" 
         name="chkParentTask" > 
        Parent Task
       
        
<div class="form-group">
          <!-- <label for="parentTask" class="col-md-4">Parent Task </label>           -->
          <select (change)='onChange($event)' class="form-control" id="parentTask" name="parentTask"
          [attr.disabled]="angForm.controls['chkParentTask'].value == false ? '' : null" >
            <option [value]="0">Select Parent Task</option>
            <option *ngFor="let item of parentTask" [value]="item.ParentTaskId">{{item.ParentTaskName}}</option>
          </select>                  
        </div> 

       
        <div class="form-group">
          <label class="col-md-4">Priority </label>
          <input type="range" min="1" max="100" class="form-control" formControlName="priority" #priority />
        </div>
        <div *ngIf="angForm.controls['priority'].invalid && (angForm.controls['priority'].dirty || angForm.controls['priority'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['priority'].errors.required">
            
          </div>
        </div>

        <div class="container">
            <div class="row">
              <div class="col">
            <div class="form-group">
                <label for="startDate">Start Date </label>
                <input id="startDate" style="width:180px" name="startDate" class="form-control" #startDate
                placeholder="datepicker"   type="date" />
              </div>
              </div>
              <div class="col">
                  <div class="form-group">
                      <label for="endDate" class="col-md-4">End Date </label>
                      <input id="endDate" style="width:180px" name="endDate" class="form-control" #endDate
                      placeholder="datepicker"   type="date" />
                    </div>
              </div>
            </div>
            </div>      
     

          <div class="form-group">
             
              <select class="form-control" formControlName="ddlUser" id="userList" name="userList"  #user>
                <option [value]="null">Select User</option>
                <option *ngFor="let item of usersList" [value]="item.UserId">{{item.FirstName}}  {{item.LastName}}  </option>
              </select>         
              
            </div> 
            <div *ngIf="ddlUser?.invalid  && (angForm.controls['ddlUser'].dirty || 
            angForm.controls['ddlUser'].touched)" class="alert alert-danger">
               <div *ngIf="angForm.controls['ddlUser'].errors.required">
                   Please select User.
               </div>
             </div> 

        <div class="form-group">        

             <button (click)="addTask(taskName.value,parentTask.value,priority.value,startDate.value,endDate.value,project.value,user.value)"                
                class="btn btn-primary"  [disabled]="!angForm.valid" >
                Add Task
             </button>
             &nbsp;&nbsp;
             <button   class="btn btn-primary"  (click)="angForm.reset()" >  Reset  </button>
            
            </div>

      </form>
    </div>
  </div>