
<table>
    <tr>
        <td style="width:60%" >  
             <select class="form-control"  (change)='onChange($event)'
            id="projectList" name="projectList"  #project>
                 <option [value]="null">Select Project</option>
                 <option *ngFor="let item of projects" [value]="item.ProjectId">{{item.ProjectName}}   </option>
               </select>  
          
        </td>
        <td  style="width:40%" >
                <div class="input-group">
                        <div class="input-group-addon">
                           <i class="glyphicon glyphicon-search"></i></div>
                        <input type="text" class="form-control input-normal" name="searchString"
                         placeholder="Task to search..." [(ngModel)]="searchString">
                        
                    </div>
        </td>
    </tr>
</table>
<div class="form-group">
        
    
</div>

<table class="table table-striped">
    <thead class="table ">
    <tr>
        <!-- <th>Task ID</th>         -->
        <th>Task </th>
        <th>Priority</th>
        <th>Start </th>
        <th>End </th>
        <th colspan="4">Actions</th>
    </tr>
    </thead>
  
    <tbody>
        <!-- <tr *ngFor="let item of tasks"> -->
        <tr *ngFor="let item of tasks | filter : 'TaskName' : searchString; let i = index">
            
            <!-- <td>{{item.TaskId}}</td>             -->
             <td>{{item.TaskName}}</td>
            <td>{{item.Priority}}</td>
            <td>{{item.StartDate|date:'dd/MM/yyyy'}}</td>
            <td>{{item.EndDate|date:'dd/MM/yyyy'}}</td>
            <td><a [routerLink]="['/edit', item.TaskId]" class="btn btn-primary">Edit</a></td>
            <td><a [routerLink]="" class="btn btn-danger" (click)="deleteTask(item.TaskId)">End Task</a></td>
        </tr>
    </tbody>
  </table>