<div class="container col-md-12">
<h5>Task Manager</h5>
</div>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="project/create" class="nav-link" routerLinkActive="active">
              Add Project
            </a>
          </li>
          <li class="nav-item">
              <a routerLink="business/create" class="nav-link" routerLinkActive="active">
                Add Task
              </a>
            </li>
            <li class="nav-item">
                <a routerLink="user/create" class="nav-link" routerLinkActive="active">
                  Add User
                </a>
              </li>
            <li class="nav-item">
                <a routerLink="business" class="nav-link" routerLinkActive="active">
                  View Tasks
                </a>
              </li>        
      
      
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>