<div class="container col-md-12">
        <h6>Add/Edit User</h6>
        </div>
        <div class="card">
        <div class="card-body">
          <form [formGroup]="angForm" novalidate>
            <div class="form-group">
              <label class="col-md-4">First Name</label>
              <input type="text" class="form-control" formControlName="firstName" #firstName [(ngModel)] = "editUser.FirstName"/>
            </div>
            <div *ngIf="angForm.controls['firstName'].invalid && (angForm.controls['firstName'].dirty || angForm.controls['firstName'].touched)" class="alert alert-danger">
              <div *ngIf="angForm.controls['firstName'].errors.required">
                First Name is required.
              </div>
            </div>   
            
            <div class="form-group">
                    <label class="col-md-4">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" #lastName [(ngModel)] = "editUser.LastName"/>
                  </div>
                  <div *ngIf="angForm.controls['lastName'].invalid && (angForm.controls['lastName'].dirty || angForm.controls['lastName'].touched)" class="alert alert-danger">
                    <div *ngIf="angForm.controls['lastName'].errors.required">
                      Last Name is required.
                    </div>
                  </div> 

                  <div class="form-group col-xs-2">
                        <label class="col-md-4">Employee ID</label>
                        <input type="text" class="form-control input-sm"  formControlName="employeeId" #employeeId [(ngModel)] = "editUser.EmployeeId"/>
                      </div>
                      <div *ngIf="angForm.controls['employeeId'].invalid && (angForm.controls['employeeId'].dirty || angForm.controls['employeeId'].touched)" class="alert alert-danger">
                        <div *ngIf="angForm.controls['employeeId'].errors.required">
                          Employee ID is required.
                        </div>
                      </div> 
          
                      <table>
                        <tr>
                          <td>
                              <div class="form-group">             
                                  <div *ngIf="this.isAddButtonVisible">
                                    <button  id="addBtnUser" name="addBtnUser"  [disabled]="!angForm.valid" (click)="addUser(firstName.value,lastName.value,employeeId.value)"                
                                    class="btn btn-primary">
                                    Add 
                                </button>  
                                </div>
                  
                                <div *ngIf="this.isUpdateButtonVisible">
                                   <button id="updateBtnUser" name="updateBtnUser"  [disabled]="!angForm.valid" (click)="updateUser(firstName.value,lastName.value,employeeId.value)"                
                                   class="btn btn-primary">
                                   Update 
                                </button>
                              </div>              
                              </div>
                          </td>
                          <td style="vertical-align: top">                            
                        <button   class="btn btn-primary"  (click)="angForm.reset()" >  Reset  </button> 
                            </td>
                        </tr>
                      </table>      
              
               
          </form>
        </div>
      </div>



      <div class="container col-md-12">
            <h6>View User</h6>
            </div>
            <div class="card">
            <div class="card-body">
                    <div class="form-group col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                   <i class="glyphicon glyphicon-search"></i></div>
                                <input type="text" class="form-control input-normal" name="searchString"
                                 placeholder="Search..." [(ngModel)]="searchString">
                                
                            </div>
                        </div>
                        
                        <!-- <input type="button"  (click)="sort('FirstName')">  -->

                        <table class="table table-striped">
                            <thead class="table ">
                            <tr>
                                <th>User ID</th>   
                                <th>Employee ID</th>        
                                <th>First Name</th>
                                <th>Last Name</th>                            
                                <th colspan="4">Actions</th>
                            </tr>
                            </thead>
                          
                            <tbody>
                                
                                  <tr *ngFor="let item of users | filter : 'FirstName' : searchString; let i = index">
                                      <!-- <tr *ngFor="let item of  users  
                                    | orderBy: {property: column, direction: direction}">   -->
                                    <td>{{item.UserId}}</td>            
                                    <td>{{item.EmployeeId}}</td>            
                                     <td>{{item.FirstName}}</td>
                                    <td>{{item.LastName}}</td>                                    
                                    <td><a [routerLink]="" (click)="EditUser(item.UserId)" class="btn btn-primary">Edit</a></td>
                                    <td><a [routerLink]="" class="btn btn-danger" (click)="deleteUser(item.UserId)">Delete</a></td>
                                </tr>
                            </tbody>
                          </table>
            </div>
          </div>