<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
      
        <div class="form-group">
            <label class="col-md-4">Task Name</label>
            <input type="text" class="form-control" formControlName="taskName" #taskName   [(ngModel)] = "tasks.TaskName"/>            
             

          </div>
          <div *ngIf="angForm.controls['taskName'].invalid && (angForm.controls['taskName'].dirty || angForm.controls['taskName'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['taskName'].errors.required">
              Task Name is required.
            </div>
          </div>

          <div class="form-group">
            <label for="parentTask" class="col-md-4">Parent Task </label>          
            <select (change)='onChange($event)' 
            class="form-control" id="parentTask"     name="parentTask" >
              <option [value]="null">Select Parent Task</option>
              <option *ngFor="let item of parentTask" [selected]="item.ParentTaskId===tasks.ParentId"
               [value]="item.ParentTaskId">{{item.ParentTaskName}}</option>
            </select>

          </div>

       

          <div class="form-group">
            <label class="col-md-4">Priority </label>
            <input type="range" min="1" max="100" class="form-control" formControlName="priority" #priority [(ngModel)] = "tasks.priority" />
          </div>
          <div *ngIf="angForm.controls['priority'].invalid && (angForm.controls['priority'].dirty || angForm.controls['priority'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['priority'].errors.required">
              
            </div>
          </div>
        <div class="form-group">
            <label for="startDate" class="col-md-4">Start Date </label>
            <input id="startDate" style="width:180px" name="startDate" 
            class="form-control" #startDate 
            placeholder="datepicker"     type="date"  />
          </div>
          
          <div class="form-group">
              <label for="endDate" class="col-md-4">End Date </label>
              <input id="endDate" style="width:180px" name="endDate" class="form-control" #endDate
              placeholder="datepicker"   type="date" />
            </div>

            
        <div class="form-group">
          <button (click)="updateTask(taskName.value,parentTask.value,priority.value,startDate.value,endDate.value)"        
          class="btn btn-primary">Update Task</button>
        </div>
      </form>
    </div>
  </div>
